
.heading {
	padding-top: 200px;
	color: white;
}

.container {
	padding-top: 50px;
	color: white;
}

#outputG {
	font-family: "Bowlby One SC";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
 
 table {
 	margin-left: 25%;
 }